name: .NET 6

on:
  push: 
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

  steps:
  - uses: actions/checkout@v3

  - name: Setup .Net
    uses: actions/setup-dotnet@v1
    with:
      dotnet-version: 6.0.x

  - name: Install Dependencies
    run: dotnet restore

  - name: Build
    run: dotnet build --no-restore

  - name: Publish
    run: dotnet publish --no-restore --no-build --output ./publish

  - name: Upload do Build artifact
    uses: actions/upload-artifact@v2
    with:
      name: publish
      path: ./publish
    
# incluindo job de deployment
  deploy:
    needs: build
    environment: development
    runs-on: ubuntu-latest
    steps:
    - name: Download a build artifact
      uses: actions/download-artifact@v2
      with:
        name: publish
        path: ./publish

    - name: 'Login via Azure CLI'
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }} # é necessário a secret key com esse mesmo nome

    - uses: azure/webapps-deploy@v2
      with:
        app-name: 'demolinkedin' # nome da aplicação na nuvem azure
        package: ./publish

# Após isso, a AZURE_CREDENTIALS precisa ser configurada, para isso abra o Azure Cloud Shell no projeto da azure e rode o comando:
# az ad sp create-for-rbac --name "{sp-name}" --sdk-auth --role contributor --scopes /subscriptions/{subscription-id}/resourceGroups/{resource-group}/providers/Microsoft.Web/sites/{app-name}
# Substituindo as variaveis, sua credential será liberada via shell
