name: .NET 6

on:
  push: 
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

  steps:
  - uses: actions/checkout@v3

  - name: Setup .Net
    uses: actions/setup-dotnet@v1
    with:
      dotnet-version: 6.0.x

  - name: Install Dependencies
    run: dotnet restore

  - name: Build
    run: dotnet build --no-restore

  - name: Publish
    run: dotnet publish --no-restore --no-build --output ./publish

  - name: Upload do Build artifact
    uses: actions/upload-artifact@v2
    with:
      name: publish
      path: ./publish
    
# incluindo job de deployment
  deploy:
    needs: build
    environment: development
    runs-on: ubuntu-latest
    steps:
    - name: Download a build artifact
      uses: actions/download-artifact@v2
      with:
        name: publish
        path: ./publish

   
